*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins';
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: black;
    height: 100vh; 
    display: flex;
}

                            /* Left side */
.left-side{
    background: rgba(41, 41, 43, 0.7);
    /* border: solid grey; */
    width: 450px;
    height: 100%;
}
.zed-nav{
    /* position: absolute; */
    width: 152px;
    height: 93px;
    margin-left: 100px;
    top: 3px;
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 85px;
    color: #1E518C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dashboard-admin{
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 57%;
    padding-top: 30px;
    padding-left: 20%;
    height: 60px;
    font-family: 'Michroma';
    display: flex;
}
.left-side-icons{
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
.blogs-admin{
    /* border: solid green; */
    color: #fff;
    font-size: 20px;
    font-family: 'Michroma';
    padding-left: 20%;
    padding-top: 10%;
    display: flex;
}
.users-admin{
    /* border: solid #fff; */
    color: #1E518C;
    font-size: 20px;
    font-family: 'Michroma';
    padding-left: 20%;
    padding-top: 10%;
    display: flex;
}
                        /* Right side */
header{
    display: flex;
    /* border: solid green; */
    height: 130px;
    width: 100%;
    margin-top: 30px;
}
.right-side{
    /* border: solid blue; */
    height: 100%;
    width: 100%;
}

.welcome-text{
    /* border: solid #fff; */
    color: rgba(124, 141, 95, 0.7);
    width: 75%;
    text-align: center;
    font-family: 'Michroma';
    padding-top: 20px;
    padding-left: 220px;
    font-size: 35px;
}
.logout-admin{
    background: #0A2647;
    color: #fff;
    font-family: 'Michroma';
    font-size: 20px;
    padding-top: 0;
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-top: 35px;
    margin-left: 70px;
}
#panel-page-title{
    color: #fff;
    font-size: 23px;
    font-family: 'Michroma';
    /* border: solid red; */
    height: 50px;
    width: 140px;
    font-weight: 900;
    padding-top: 10px;
    display: flex;
}
.users-icon img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 4px;
}
.users-title-and-add-blog-part{
    /* border: solid green; */
    height: 54px;
    width: 300px;
    display: flex;
}
.users-table{
    /* border: solid yellow; */
    height: 550px;
    width: 847px;
    margin-left: 30px;
    margin-top: 50px;
}
.users-table-header{
    /* border: solid grey; */
    height: 33px;
    display: flex;
}
#users-table-header-element1{
    color: #7C8D5F;
    font-family: 'Michroma';
    /* border: solid #fff; */
    width: 50px;
    height: 28px;
    margin-left: 10px;
}
#users-table-header-element2{
    margin-left: 10px;
    color: #7C8D5F;
    font-family: 'Michroma';
    /* border: solid #fff; */
    width: 350px;
    height: 28px;
}
#users-table-header-element3{
    margin-left: 10px;
    color: #7C8D5F;
    font-family: 'Michroma';
    /* border: solid #fff; */
    width: 200px;
    height: 28px;
}
#users-table-header-element4{
    margin-left: 10px;
    color: #7C8D5F;
    font-family: 'Michroma';
    /* border: solid #fff; */
    width: 200px;
    height: 28px;
    text-align: center;
}
.users-list-1{
    display: flex;
    /* border: solid red; */
}
.users-list-2{
    display: flex;
    /* border: solid red; */
}
#users-list-number{
    color: #fff;
    /* border: solid orange; */
    width: 50px;
    height: 25px;
    margin-left: 10px;
    font-size: 20px;
}
#users-list-title{
    margin-left: 10px;
    color: #fff;
    font-size: 14px;
    font-family: 'Michroma';
    /* border: solid #fff; */
    width: 350px;
    height: 28px;
    word-spacing: 3px;
}
#users-list-author{
    margin-left: 10px;
    color: #fff;
    font-size: 14px;
    font-family: 'Michroma';
    /* border: solid #fff; */
    width: 200px;
    height: 28px;
    word-spacing: 4px;
}
#users-list-action{
    margin-left: 10px;
    color: #7C8D5F;
    font-size: 15px;
    font-family: 'Michroma';
    /* border: solid #fff; */
    width: 200px;
    height: 28px;
    display: flex;
}
.edit-users{
    color: green;
    margin-left: 57px;
}
.delete-users{
    color: red;
    margin-left: 25px;
}
