*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 1.8rem;
    font-family: 'Michroma';
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: black;
    height: 100vh; 
    display: flex;
}

                            /* Left side */
.left-side{
    background: rgba(41, 41, 43, 0.7);
    /* border: solid grey; */
    width: 450px;
    height: 100%;
}
.zed-nav{
    /* position: absolute; */
    width: 152px;
    height: 93px;
    margin-left: 100px;
    top: 3px;
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 85px;
    color: #1E518C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dashboard-admin{
    color: #fff;
    font-size: 20px;
    /* border: solid red; */
    text-align: center;
    margin-top: 57%;
    padding-top: 30px;
    padding-left: 20%;
    height: 60px;
    font-family: 'Michroma';
    display: flex;
}
.left-side-icons{
    margin-right: 10px;
    width: 30px;
    height: 30px;

}
.blogs-admin{
    /* border: solid green; */
    color: #1E518C;
    font-size: 20px;
    font-family: 'Michroma';
    padding-left: 20%;
    padding-top: 10%;
    display: flex;
}
.users-admin{
    /* border: solid #fff; */
    color: #fff;
    font-size: 20px;
    font-family: 'Michroma';
    padding-left: 20%;
    padding-top: 10%;
    display: flex;
}
                        /* Right side */
header{
    display: flex;
    /* border: solid green; */
    height: 130px;
    width: 100%;
    margin-top: 30px;
}
.right-side{
    /* border: solid blue; */
    height: 100%;
    width: 100%;
}

.welcome-text{
    /* border: solid #fff; */
    color: rgba(124, 141, 95, 0.7);
    width: 75%;
    text-align: center;
    font-family: 'Michroma';
    padding-top: 20px;
    padding-left: 220px;
    font-size: 35px;
}
.logout-admin{
    background: #0A2647;
    color: #fff;
    font-family: 'Michroma';
    font-size: 20px;
    padding-top: 0;
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-top: 35px;
    margin-left: 70px;
}
#panel-page-title{
    color: #fff;
    font-size: 23px;
    font-family: 'Michroma';
    /* border: solid red; */
    height: 50px;
    font-weight: 900;
    padding-top: 10px;
    display: flex;
}
.dashboard-icon img{
    /* border: solid green; */
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 4px;
}
.back-icon{
    font-size: 70px;
    color:#fff;
    /* border: solid red; */
    width: 100px;
    margin-left: 80px;
}
.middle-section{
    /* display: grid; */
}
.right-section-of-middle-part{
    border: solid red;
    width: 700px;
    height: 500px;
    display: table;
}
#add-blog-form{
    border: solid #fff;
    width: 350px;
    height: 500px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}
.add-blog-form-title{
    color: #ccc;
    font-size: 25px;
    width: 250px;
    font-family: 'Michroma';
    margin-left: 60px;
    /* border: solid red; */
}
#authorInput{
    background: rgba(72, 70, 70, 0.5);
    font-family: 'Michroma';
    padding-left: 5px;
    margin-left: 25px;
    width: 300px;
    margin-top: 25px;
    border-radius: 7px;
    /* border: solid rgba(72, 70, 70, 0.212); */
}
#blogId{
    height: 32px;
    color: #fff;
    background: rgba(72, 70, 70, 0.5);
    font-family: 'Michroma';
    padding-left: 5px;
    margin-left: 25px;
    width: 300px;
    margin-top: 25px;
    border-radius: 7px;
}
.image-1 {
    margin-top: 10px;
    float: right;
    display: contents;
  }
.add-blog-form-author-input{
    height: 40px;
    width: 300px;
    margin-top: 25px;
    color: #fff;
}
.add-blog-form-title-input{
    height: 40px;
    color: #fff;
    background: rgba(72, 70, 70, 0.5);
    font-family: 'Michroma';
    padding-left: 5px;
    margin-left: 25px;
    width: 300px;
    margin-top: 25px;
    border-radius: 7px;
    /* border: solid rgba(72, 70, 70, 0.212); */
}
.add-blog-form-body-input{
    background: rgba(72, 70, 70, 0.5);
    font-family: 'Michroma';
    padding-left: 5px;
    margin-left: 25px;
    width: 300px;
    height: 150px;
    margin-top: 25px;
    border-radius: 7px;
    /* border: solid rgba(72, 70, 70, 0.212); */
    color: #fff;
}
#add-blog-form-save-button{
    height: 30px;
    width: 300px;
    margin-left: 25px;
    font-family: 'Michroma';
    color: #fff;
    background: rgba(22, 234, 234, 0.6);
    margin-top: 15px;
    border-radius: 10px;
    border: solid rgba(22, 234, 234, 0.6);
    cursor: pointer;
}
#add-blog-form-save-button:hover{
    background-color: rgba(0, 255, 255, 0.398);
}
.blogs-table-header{
    border: solid grey;
    height: 33px;
    /* display: table; */
}
#blogs-table-header-element1{
    color: #7C8D5F;
    font-family: 'Michroma';
    border: solid #fff;
    width: 50px;
    height: 28px;
    margin-left: 10px;
}
#blogs-table-header-element2{
    margin-left: 10px;
    color: #7C8D5F;
    font-family: 'Michroma';
    border: solid #fff;
    width: 350px;
    height: 28px;
}
#blogs-table-header-element3{
    margin-left: 10px;
    color: #7C8D5F;
    font-family: 'Michroma';
    border: solid #fff;
    width: 200px;
    height: 28px;
}
#blogs-table-header-element4{
    margin-left: 10px;
    color: #7C8D5F;
    font-family: 'Michroma';
    border: solid #fff;
    width: 200px;
    height: 28px;
    text-align: center;
}
.t-body{
    color: #fff;
    font-size: 13px;
}
table{
    width: 80%;
}
table.list{
    text-align: center;
    /* width: 100%; */
}
td{
    border: solid rgb(204,200,200);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: rgba(204, 200, 200, 0.469);
}

                            /* Form Validation CSS */
.input-control .error{
    color: #ff3860;
    margin-left: 27px;
}
.input-control input:focus{
    outline: 0;
}
.input-control.success input{
    border-color: #09c372;
}
.input-control.error input{
    border-color: #ff3860;
}
.input-control .error{
    border-color: #ff3860;
    font-size: 9px;
    height: 3px;
}
